@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library;
@using Sitecore.Foundation.Alerts
@using Sitecore.Data.Items
@using Sitecore.Foundation.Alerts.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@*@if (!Model?.Item?.IsDerived(Sitecore.Feature.Library.Templates.GeneralUrl.ID) ?? true)
{
    @Html.PageEditorInfo(AlertTexts.InvalidDataSourceTemplate(Sitecore.Feature.Library.Templates.GeneralUrl.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}*@
@{
    var item = Model.Item;
    var url = "#";
    string title = "TITLE";
    var targetType = "_blank";
    int countItem = 0;
}

<div class="m-top-nav js-scroll-fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a class="btn btn-outline-primary btn-back addon-reverse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10">
                        <path id="arrow-left" fill-rule="evenodd" d="M4.436.146a.5.5 0 0 1 .707.706l-3.218 3.22a.252.252 0 0 0 .177.429h7.39c.276 0 .508.22.508.495v.002a.509.509 0 0 1-.508.501h-7.39a.247.247 0 0 0-.177.422L5.158 9.15a.5.5 0 0 1-.706.704L.292 5.698a.998.998 0 0 1 0-1.412L4.437.146" />
                    </svg>
                    <span class="text">BACK</span>
                </a>
            </div>
            <div class="col-xs-10">
                <div class="top-nav-link">
                    @*<span class="selected-text">GLOBAL ACCEPTANCE</span>*@
                    <div class="links">
                        @foreach (Item items in item.Children)
                        {
                            Sitecore.Data.Fields.LinkField _link = items.Fields[Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url];
                            url = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_link);
                            //url = !string.IsNullOrWhiteSpace(items.LinkFieldUrl(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url)) ? items.LinkFieldUrl(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url).ToString().Replace(" ", "").ToLower() : "#";
                            title = !string.IsNullOrWhiteSpace(items.Fields[Sitecore.Feature.Library.Templates.GeneralValue.Fields.Title].Value.ToString().ToUpper()) ? items.Fields[Sitecore.Feature.Library.Templates.GeneralValue.Fields.Title].Value.ToString().ToUpper() : "TITLE";
                            targetType = items.LinkFieldOptions(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url, LinkFieldOption.Target);

                            if (countItem == 0)
                            {
                                <a class="active" href="@url">@title </a>
                            }
                            else
                            {
                                <a href="@url">@title </a>
                            }

                            countItem++;
                        }
                        @*<a href="@url">@title</a>*@
                        @*<a class="active" href="@url" >GLOBAL ACCEPTANCE</a>
                        <a href="#">TREATS POINTS</a><a href="#">XBILL</a>
                        <a href="#">RKK</a><a href="#">KEMUDAHAN TRANSAKSI</a>
                        <a href="#">XCASH</a>
                        <a href="#">CREDIT SHIELD</a>
                        <a href="#CardLink/NewsletterPromoKartuKredit">CARD LINK</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(location).attr('href');      // http://www.refulz.com:8082/index.php#tab2
  $(location).attr('pathname');  // index.php
</script>