@using Sitecore.Feature.Content
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model Sitecore.Feature.Library.SimplePageData

<div class="row visible-xs">
    <div class="pagination-wrapper">
        <ul class="pagination">
            @{
                int currentPage = Model.CurrentPage;
                int totalPage = Model.TotalPage;
                int c = 1;

                // previous
                if (totalPage > 0)
                {
                    if (currentPage > 1)
                    {
                        <li class="previous enabled"><a href="javascript:void();" data-curpage="@currentPage">Previous</a></li>
                    }
                    else
                    {
                        <li class="previous disabled"><a href="javascript:void();" data-curpage="@currentPage">Previous</a></li>
                    }
                }

                // step
                while (c <= totalPage)
                {
                    if (totalPage > 7)
                    {
                        if (currentPage > 4)
                        {
                            if (c == 2)
                            {
                                <li class="dotted"><span>...</span></li>
                                c = (currentPage - 1) < (totalPage - 3) ? (currentPage - 1) : (totalPage - 3);
                            }

                            if (c == currentPage + 2)
                            {
                                if (totalPage - currentPage + 1 > 4)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }
                        }
                        else
                        {
                            if (c == 5)
                            {
                                if (currentPage < 4)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }

                            if (c == currentPage + 2)
                            {
                                if (currentPage > 3)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }
                        }
                    }

                    if (c == currentPage)
                    {
                        <li class="pagination-list active"><a href="javascript:void();">@c</a></li>
                    }
                    else
                    {
                        <li class="pagination-list"><a href="javascript:void();">@c</a></li>
                    }

                    c++;
                }

                // next
                if (totalPage > 0 && currentPage < totalPage)
                {
                    <li class="next enabled"><a href="javascript:void();" data-curpage="@currentPage">Next</a></li>
                }
                else
                {
                    <li class="next disabled"><a href="javascript:void();" data-curpage="@currentPage">Next</a></li>
                }
            }
        </ul>
    </div>
</div>

<div class="row hidden-xs">
    <div class="pagination-wrapper">
        <ul class="pagination">
            @{
                c = 1;

                // previous
                if (totalPage > 0)
                {
                    if (currentPage > 1)
                    {
                        <li class="previous enabled"><a href="javascript:void();" data-curpage="@currentPage">Previous</a></li>
                    }
                    else
                    {
                        <li class="previous disabled"><a href="javascript:void();" data-curpage="@currentPage">Previous</a></li>
                    }
                }

                // step
                while (c <= totalPage)
                {
                    if (totalPage > 7)
                    {
                        if (currentPage > 4)
                        {
                            if (c == 2)
                            {
                                <li class="dotted"><span>...</span></li>
                                c = (currentPage - 1) < (totalPage - 3) ? (currentPage - 1) : (totalPage - 3);
                            }

                            if (c == currentPage + 2)
                            {
                                if (totalPage - currentPage + 1 > 4)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }
                        }
                        else
                        {
                            if (c == 5)
                            {
                                if (currentPage < 4)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }

                            if (c == currentPage + 2)
                            {
                                if (currentPage > 3)
                                {
                                    <li class="dotted"><span>...</span></li>
                                    c = totalPage;
                                }
                            }
                        }
                    }

                    if (c == currentPage)
                    {
                        <li class="pagination-list active"><a href="javascript:void();">@c</a></li>
                    }
                    else
                    {
                        <li class="pagination-list"><a href="javascript:void();">@c</a></li>
                    }

                    c++;
                }

                // next
                if (totalPage > 0 && currentPage < totalPage)
                {
                    <li class="next enabled"><a href="javascript:void();" data-curpage="@currentPage">Next</a></li>
                }
                else
                {
                    <li class="next disabled"><a href="javascript:void();" data-curpage="@currentPage">Next</a></li>
                }
            }
        </ul>
    </div>
</div>
