@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Feature.Library.Helper
@using System.linq
@model RenderingModel
@{
    string anchorID = RenderingContext.Current.Rendering.Parameters["ID"] != null ? RenderingContext.Current.Rendering.Parameters["ID"].Trim() : string.Empty;
    if (!string.IsNullOrEmpty(anchorID))
    {
    }
}
@if (!Model?.Item?.IsDerived(new Sitecore.Data.ID("{1285F104-5697-4B00-8C7A-520DFEF2734A}")) ?? true)
{
    @Html.PageEditorInfo(AlertTexts.InvalidDataSourceTemplate(Sitecore.Feature.Library.Templates.Benefit.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

@if (!string.IsNullOrEmpty(anchorID) == true)
{
    @*<a name="@anchorID"></a>*@
    <div class="large-pad">
        <div class="frame">
            <a class="anchor" name="@anchorID"></a>
        </div>
    </div>
}
<div>
    <div class="row">
        <div class="col-sm-12">
            <h1>@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title, Model.Item)</h1>
        </div>
    </div>

        @if (Model.Item != null && Model.Item.Children.Count > 0)
        {
            int num = (int)Math.Ceiling((decimal)Model.Item.Children.Count/3);
            for (int i = 0; i< num; i ++)
            {
                <div class="row">
                    @foreach (Sitecore.Data.Items.Item BenefitItem in Model.Item.Children.Skip(i*3).Take(3))
                    {
                        <div class="col-sm-4">
                            @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.Benefit.Fields.Icon, BenefitItem, cssClass: "removestyle v-m-1")
                            <h3>@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.Benefit.Fields.stringBenefitTitle, BenefitItem)</h3>
                            <p class="gray-text">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.Benefit.Fields.stringBenefitDescription, BenefitItem)</p>
                        </div>
                    }
                </div>
            }
            
        }

</div>