@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Feature.Library.Helper
@using Sitecore.Feature.Content.Models
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.IsDerived(Sitecore.Feature.Library.Templates.GeneralUrl.ID) ?? true)
{
    @Html.PageEditorInfo(AlertTexts.InvalidDataSourceTemplate(Sitecore.Feature.Library.Templates.GeneralUrl.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}
@{
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo(Sitecore.Context.Language.Name);
    var item = Model.Item;
    //var url = @item.LinkFieldUrl(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url).ToString() != null ? @item.LinkFieldUrl(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url).ToString() : "#";
    Sitecore.Data.Fields.LinkField _link = item.Fields[Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url];
    string url = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_link);
    var targetType = @item.LinkFieldOptions(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url, LinkFieldOption.Target);


    LoanDetails ld = new LoanDetails();
    //Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna] = ld;

    LoanDetails loanDetails = ld;
}
@if (Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna] == null)
{
    //LoanDetails ld = new LoanDetails();
    ld.TotalLoan = 0;
    ld.TermLoans = 0;
    ld.LoanInterest = 0;
    ld.MonthlyInstallment = 0;
    Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna] = ld;
}
@if (Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna] != null)
{
    if (Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna].GetType() == typeof(String))
    {
        Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna] = ld;
    }
    loanDetails = (LoanDetails)Session[Sitecore.Feature.Library.Helper.Variables._sessionLoanMultiguna];
}
@if (loanDetails.IsCalculate)
{
    <div class="m-calc-calculator">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="calc-box">
                        <div class="label">@Html.Sitecore().Dictionary("/Feature/Content/Total Loan", "Edit This Content On Dictionary(/Feature/Content/Total Loan)")</div>
                        <div class="lnum">@Variables._defaultCurrencyName&nbsp;@loanDetails.TotalLoan.ToString(Variables._defaultFormatCurrency, ci)</div>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <div class="calc-box">
                        <div class="label">@Html.Sitecore().Dictionary("/Feature/Content/Term Loans", "Edit This Content On Dictionary(/Feature/Content/Term Loans)")</div>
                        <div class="lnum">@loanDetails.TermLoans.ToString(Variables._defaultFormatCurrency, ci) &nbsp;@Html.Sitecore().Dictionary("/Feature/Content/Year", "Edit This Content On Dictionary(/Feature/Content/Year)")</div>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <div class="calc-box">
                        <div class="label">@Html.Sitecore().Dictionary("/Feature/Content/Loan Interest", "Edit This Content On Dictionary(/Feature/Content/Loan Interest)")</div>
                        <div class="lnum">@loanDetails.LoanInterest.ToString(Variables._defaultFormatPersentage, ci)%<span>&nbsp;/@Html.Sitecore().Dictionary("/Feature/Content/Year", "Edit This Content On Dictionary(/Feature/Content/Year)")</span></div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="calc-box no-border">
                        <div class="label">@Html.Sitecore().Dictionary("/Feature/Content/Monthly Installments", "Edit This Content On Dictionary(/Feature/Content/Monthly Installments)")</div>
                        <div class="lnum">@Variables._defaultCurrencyName&nbsp;@loanDetails.MonthlyInstallment.ToString(Variables._defaultFormatCurrency, ci)</div>
                    </div>
                </div>
                <div class="col col-xs-12 v-p">
                    <div class="row">
                        <div class="valign-center w-auto">
                            <div class="valign-item c-calculator__refresh">
                                <a href="@url" target="@targetType">
                                    <i class="icons icon-refresh"> </i>
                                    <div class="c-calculator__name inline-block">@Html.Sitecore().Dictionary("/Feature/Content/ReCalculate", "Edit This Content On Dictionary(/Feature/Content/ReCalculate)")</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="m-calc-calculator">
        <div class="container">
            <div class="row my-3">
                <div class="valign-center@sm">
                    <div class="valign-item hidden-xs">
                        @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.ImageLink.Fields.Image, item, cssClass: "img-responsive")
                    </div>
                    <div class="valign-item">
                        <h2 class="mb-sm-0">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.GeneralHeadingAndSubheading.Fields.Heading, item)</h2>
                    </div>
                    @*<div class="valign-item"><a class="btn btn-outline-primary" href="@item.LinkFieldUrl(Sitecore.Feature.Library.Templates.GeneralUrl.Fields.Url)">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.ButtonLabel, item)</a></div>*@
                    <div class="valign-item"><a class="btn btn-outline-primary" href="@url">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.ButtonLabel, item)</a></div>
                </div>
            </div>
        </div>
    </div>
}