@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using template = Sitecore.Feature.Library.Templates.MBMTitleContentImage
@model RenderingModel
@{
    bool isLeft = RenderingContext.Current.Rendering.Parameters["Is Left"] == "1" ? true : false;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 @(isLeft ? "" : "col-md-push-6")">
            <div class="bg-as-img" style="background-image:url(@Model.Item.ImageUrl(template.Fields.Image))"></div><br />
        </div>
        <div class="col-md-6 @(isLeft ? "" : "col-md-pull-6")">
            <h1>@Html.Raw(Html.Sitecore().Field(template.Fields.Title, Model.Item))</h1>
            @Html.Raw(Html.Sitecore().Field(template.Fields.Content, Model.Item))
        </div>
    </div>
</div>