@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields
@using template = Sitecore.Feature.Library.Templates.MBMPanelWithMapItem
@model RenderingModel
@{
    Guid eventId = Guid.NewGuid();

    LinkField link = Model.Item.Fields[template.Fields.ButtonTwoUrl];
    string url = Sitecore.Feature.Library.Helper.Core.getGeneralLink(link);
    string getDirectionLink = url + "/[current]/" + Model.Item.Fields[template.Fields.Latitude] + "," + Model.Item.Fields[template.Fields.Longitude];
}

<div class="container">
    <div style="display:none;">
        <span id="latLoc"></span>
        <span id="longLoc"></span>
    </div>
    <div class="article">
        <div class="row">
            <div class="col-xs-12 col-md-6 pb-2@sm">
                <div class="custom-container">
                    <h1 class="mb-1">@Html.Sitecore().Field(template.Fields.Title, Model.Item)</h1>
                    @Html.Sitecore().Field(template.Fields.Content, Model.Item)
                    <div class="py-2">
                        <div class="row">
                            @if (Model.Item.Fields[template.Fields.ShowButtonOne].Value == "1")
                            {
                                <div class="col-xs-12 col-xs-6@landscape col-sm-6">
                                    <div class="valign py-3">
                                        <div class="valign__item">
                                            @Html.Sitecore().ImageField(template.Fields.ButtonOneIcon, Model.Item, cssClass: "img-responsive")
                                            @*<img class="img-responsive" src="/Assets/mbm/img/icon/ico-map-pin.svg" alt="" />*@
                                        </div>
                                        <div class="valign__item px-3">
                                            <div class="py-2">
                                                <h4 class="mb-0">@Html.Sitecore().Field(template.Fields.ButtonOneHeader, Model.Item)</h4>
                                                <a class="btn btn-link py-2 js-modal-trigger" href="" modal="event-@eventId"> <span>@Html.Sitecore().Field(template.Fields.ButtonOneLabel, Model.Item)</span><img class="pl-2" src="/Assets/mbm/img/icon/arrow-right-yellow.svg" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.Item.Fields[template.Fields.ShowButtonTwo].Value == "1")
                            {
                                <div class="col-xs-12 col-xs-6@landscape col-sm-6">
                                    <div class="valign py-3">
                                        <div class="valign__item">
                                            @Html.Sitecore().ImageField(template.Fields.ButtonTwoIcon, Model.Item, cssClass: "img-responsive")
                                            @*<img class="img-responsive" src="/Assets/mbm/img/icon/ico-map-pin.svg" alt="" />*@
                                        </div>
                                        <div class="valign__item px-3">
                                            <div class="py-2">
                                                <h4 class="mb-0">@Html.Sitecore().Field(template.Fields.ButtonTwoHeader, Model.Item)</h4>
                                                <a class="btn btn-link py-2" href="@getDirectionLink" @Html.Raw(link.Target.Length > 0 ? "target=" + link.Target : "")> <span>@Html.Sitecore().Field(template.Fields.ButtonTwoLabel, Model.Item)</span><img class="pl-2" src="/Assets/mbm/img/icon/arrow-right-yellow.svg" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <div class="gmap js-gmap" id="map" data-lat="@Model.Item.Fields[template.Fields.Latitude]" data-logt="@Model.Item.Fields[template.Fields.Longitude]"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" modal-name="event-@eventId">
        <div class="modal-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content white-text">
                    <div class="modal-header"><a class="close js-modal-trigger-close" data-dismiss="modal" type="button" aria-label="Close"></a></div>
                    <div class="modal-body">
                        <div class="modal-body-scroll py-4">
                            <div class="image-frame"><img class="img-responsive js-gallery-image" src="@Model.Item.ImageUrl(template.Fields.ButtonOneImageContent)" alt="" /></div>
                            <div class="image-desc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- gallery modal -->
    @*<div class="modal modal-image js-gallery-modal" tabindex="-1" role="dialog" image-name="" modal-name="event-@eventId">
            <div class="modal-dialog modal-dialog--centered" role="document">
                <div class="modal-content">
                    <a class="close js-gallery-modal-close" href=""></a>
                    <div class="modal-body">
                        <div class="image-frame"><img class="img-responsive js-gallery-image" src="@Model.Item.ImageUrl(template.Fields.ButtonOneImageContent)" alt="" /></div>
                        <div class="image-desc"></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>



<script>
    $(document).ready(function () {
        var x = document.getElementById("latLoc");
        var y = document.getElementById("longLoc");

        if (x.innerHTML.length < 1 || x.innerHTML == undefined) {
            x.innerHTML = '-6.226959'; //deflatLoc.innerHTML  //'-6.226959';
        }
        if (y.innerHTML.length < 1 || y.innerHTML == undefined) {
            y.innerHTML = '106.7985209';  //deflongLoc.innerHTML//'106.7985208';
        }
        var formatted_address = document.getElementById("formatted_address");
        function getAddressComponents(components, type) {
            if (components[type] != undefined) {
                return components[type];
            } else {

                for (var key in components) {
                    if (components.hasOwnProperty(key)) {
                        if (type == components[key].types[0]) {
                            return components[key];
                        }
                    }
                }
            }

            return '';
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
                if (navigator.geolocation.getCurrentPosition(showPosition) == undefined) {
                    $('.btn.btn-link.py-2').each(function () {
                        console.log($(this).attr('href').replace('[current]', x.innerHTML + ',' + y.innerHTML));
                        $(this).attr('href', $(this).attr('href').replace('[current]', x.innerHTML + ',' + y.innerHTML))
                    });
                    //$.ajax({
                    //    url: '/api/sitecore/MapsLocation/GetLocationNearBy',
                    //    data: { "Latitude": x.innerHTML, "Longitude": y.innerHTML, "Radius": 8 },
                    //    success: function (result) {
                    //        $('.atm-branch-location').html(result);
                    //    }
                    //});
                }

            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = position.coords.latitude;
            y.innerHTML = position.coords.longitude;
            var geocoder = new google.maps.Geocoder();

            if (x.innerHTML.length < 1 || x.innerHTML == undefined) {
                x.innerHTML = deflatLoc.innerHTML //'-6.226959';
            }
            if (y.innerHTML.length < 1 || y.innerHTML == undefined) {
                y.innerHTML = deflongLoc.innerHTML //'106.7985208';
            }

            $('.btn.btn-link.py-2').each(function () {
                console.log($(this).attr('href').replace('[current]', x.innerHTML + ',' + y.innerHTML));
                $(this).attr('href', $(this).attr('href').replace('[current]', x.innerHTML + ',' + y.innerHTML))
            });
        }

        getLocation();

    });
</script>