@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library.Helper
@using System.linq
@model RenderingModel
@{
    string TitleListOffer = RenderingContext.Current.Rendering.Parameters["Title"];
    int MaxItem = RenderingContext.Current.Rendering.GetIntegerParameter("Max Item", 9);
    string myInterest = (string)(Session[Variables._sessionNameListOffer]);
    bool haveInterest = false;
    if ((!string.IsNullOrEmpty(myInterest)))
    {
        string[] splitString = myInterest.Split(';');
        if (splitString.Length > 0) {
            haveInterest = true;
        }
    }
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>@TitleListOffer</h1><br />
        </div>
    </div>
</div>

@if (Model.Item != null && Model.Item.Children.Count > 0)
{
    Sitecore.Data.Items.Item[] OfferItems = Model.Item.Children.ToArray();

    if (haveInterest == true)
    {
        if (myInterest.ToLower() == Sitecore.Feature.Library.Helper.Variables._itemRegular.ToLower())
        {
            OfferItems = Model.Item.Children.Where(x => x.TemplateID == Sitecore.Feature.Library.Templates.ProductSimpananPage.ID).ToArray();
        }
        else if (myInterest.ToLower() == Sitecore.Feature.Library.Helper.Variables._itemSyariah.ToLower())
        {
            OfferItems = Model.Item.Children.Where(x => x.TemplateID == Sitecore.Feature.Library.Templates.ProductSimpananSyariahPage.ID).ToArray();
        }
        //OfferItems = Sitecore.Feature.Library.Helper.Core.ShortItemBaseInterestSaving(Model.Item.Children.ToArray(), myInterest.Split(';'));
    }

    <div class="container js-mobile-to-carousel-container">
        <div class="row js-mobile-to-carousel">
            @foreach (Sitecore.Data.Items.Item OfferItem in OfferItems.Where(x => x.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.ShowInMenu] != null && x.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.ShowInMenu].Value == "1").Take(MaxItem))
            {
                //string url = Variables._savingAccount;
                //string imageUrl = Variables._defaultImageOffer;

                //if (OfferItem.LinkFieldUrl(Sitecore.Feature.Library.Templates.TopNav.Fields.UrlApplyNow) != null)
                //{
                //    url = OfferItem.LinkFieldUrl(Sitecore.Feature.Library.Templates.TopNav.Fields.UrlApplyNow);
                //}

                Sitecore.Data.Fields.LinkField _link = OfferItem.Fields[Sitecore.Feature.Library.Templates.TopNav.Fields.UrlApplyNow];
                string url = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_link);

                //if (OfferItem.ImageUrl(Sitecore.Feature.Library.Templates.Offer.Fields.Image) != null)
                //{
                //    imageUrl = OfferItem.ImageUrl(Sitecore.Feature.Library.Templates.Offer.Fields.Image);
                //}
                <div class="col col-lg-3 col-md-3 col-sm-12 col-xs-12 js-mobile-to-carousel-list">
                    <div class="m-cards-giro-card">
                        <div class="image">
                            @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.Page.Fields.Thumbnail, OfferItem)
                            @*<img src="@imageUrl" />*@
                            <span class="product-label">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.Page.Fields.Title, OfferItem)</span>
                        </div>
                        <div class="desc">
                            <span class="pdesc">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.Page.Fields.Summary, OfferItem)</span>
                            <div class="cta">
                                <a class="see-more" href="@OfferItem.Url()">@Html.Sitecore().Dictionary("/Feature/Content/Banner", "Edit This Content On Dictionary(/Feature/Content/Banner)")</a>
                                <div class="btn btn-tertiary addon" data-url="@url" data-id="@OfferItem.ID">
                                    @Html.Sitecore().Field(Sitecore.Feature.Library.Templates.TopNav.Fields.LabelApplyNow, OfferItem)
                                    @*@Html.Sitecore().Dictionary("/Feature/Content/List Offer", "Edit This Content On Dictionary(/Feature/Content/List Offer)")*@
                                    <img src="/assets/img/icons/arrow-right/arrow-right-363@2x.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}