@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Data.Items
@*@model RenderingModel*@
@model Sitecore.Feature.Library.Helper.PagedData<Sitecore.Data.Items.Item>
@{
    var maxItem = RenderingContext.Current.Rendering.Parameters["Max Item"] == null ? "8" : RenderingContext.Current.Rendering.Parameters["Max Item"];
}

<div class="heading full">
    @Html.Sitecore().DynamicPlaceholder("story-list-tri-content")
</div>
<div class="row">
    @*@foreach (Item childItem in Model.Item.Children.Where(x => x.Fields[Sitecore.Feature.Library.Templates.BaseField.Fields.ShowInMenu].Value == "1").OrderByDescending(x => x.Modified))
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="m-cards-giro-card simple-card">
                    <div class="image"><img src="@childItem.ImageUrl(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail)" /></div>
                    <div class="desc">
                        <a class="ptitle" href="@childItem.Url()">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title, childItem)</a>
                        <div class="cta"><a class="btn btn-outline-primary addon" href="@childItem.Url()">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.ButtonLabel, childItem)
                            <img src="../../assets/img/icons/arrow-right/arrow-right-363-big-black@2x.png" alt="apply now" /></a></div>
                    </div>
                </div>
            </div>
        }*@
    @if (Model.Data.Count() > 0)
    {

        foreach (Item item in Model.Data)
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="m-cards-giro-card simple-card">
                    <div class="image">
                        @*<img src="@item.ImageUrl(Sitecore.Feature.Library.Templates.NewsArticle.Fields.Image)"/>*@
                        @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail, item)
                    </div>
                    <div class="desc">
                        <a class="ptitle" href="@item.Url()">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title, item)</a>
                        <div class="cta">
                            <a class="btn btn-outline-primary addon" href="@item.Url()">
                                @Html.Sitecore().Dictionary("/Feature/Content/See More", "Please Edit on Dictionary")
                                <img src="/-/media/Feature/Content/Icon/Arrow Right/arrowright363bigblack2x.jpg" alt="apply now" />
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @Html.Partial("~/Views/ErrorPage/EmptyData.cshtml")
    }
</div>
@* for hide and show link see all on article heading  *@
@*@if (Model.Data.Count() < System.Convert.ToInt32(maxItem))
{
    <script>
        $(document).ready(function () {
            $(".see-more").addClass("hide");
        });
    </script>

}*@