@using Sitecore.Feature.Content
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Library.Helper.PagedData<Sitecore.Data.Items.Item>

<div class="row row@xs">
    @if (Model != null && Model.Data != null)
    {
        foreach (Sitecore.Data.Items.Item item in Model.Data)
        {
            string linkPromo = item.Url();
            Sitecore.Data.Fields.LinkField _linkPromo = item.Fields[Sitecore.Feature.Library.Templates.Link.Fields.Link];
            if (Sitecore.Feature.Library.Helper.Core.getGeneralLink(_linkPromo) != "#")
            {
                linkPromo = Sitecore.Feature.Library.Helper.Core.getGeneralLink(_linkPromo);
            }
            <div class="col col-xs-12 col-sm-4 col-md-3 v-m">
                <div class="skeleton js-demo-skeleton">
                    <div class="skeleton__img"></div>
                    <div class="skeleton__body">
                        <div class="skeleton__line"></div>
                        <div class="skeleton__line half"></div>
                    </div>
                    <div class="skeleton__footer">
                        <div class="skeleton__line tall"></div>
                    </div>
                </div>
                <div class="card js-demo-skeleton-content hide">
                    <div class="card-header">
                        <div class="card-header-tag">
                            @Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Tag, item)
                        </div>
                        <a @Html.Raw(string.IsNullOrEmpty(_linkPromo.Target) ? "target=\"_self\"" : string.Format("target=\"{0}\"", _linkPromo.Target)) href="@linkPromo">
                            <div class="img-as-bg" style="background-image:url(@item.ImageUrl(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail));"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="js-truncate" data-truncate="35">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title, item)</h3>
                        </div>
                        <div class="card-desc">
                            <p class="js-truncate" data-truncate="120">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Summary, item)</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-action"><a class="btn btn-link addon" @Html.Raw(string.IsNullOrEmpty(_linkPromo.Target) ? "target=\"_self\"" : string.Format("target=\"{0}\"", _linkPromo.Target)) href="@linkPromo">@Html.Sitecore().Dictionary("/Feature/Promotion/See More", "See More")<img src="../../assets/img/icons/arrow-right/arrow-right-363-yellow@2x.png" /></a></div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (Model != null && Model.Data != null)
{
    <!-- PAGINATION COMPONENT -->
    @Html.Partial("~/Views/Pagination/_Pagination.cshtml", Model)
}