@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Feature.Library.Helper
@using Sitecore.Feature.Content.Controller
@model PagedData<Sitecore.Data.Items.Item>
@{
    var idDiv = Guid.NewGuid();
}

<script type="text/javascript">

    $(document).ready(function () {

    $('body').on('click', '.pagination-list a', function () {

        var page = parseInt($(this).html());

        $.ajax({
            url: '@Url.Action("TourAndTravelListPaging")',
            data:
            {
                "page": page,
                "PageSize": @Model.PageSize,
                "id": "@Model.DataSourceID"
            },
            success: function (data) {
                $("#news-pages-@idDiv").html(data);
                setTimeout(function () {
                    if ($('.card.js-demo-skeleton-content').hasClass('hide')) {
                        $('.card.js-demo-skeleton-content').removeClass('hide')
                        $('.skeleton.js-demo-skeleton').addClass('hide')
                    }
                }, 5000)
            }
        });
    });

    $('body').on('click', '.previous.enabled a', function () {
        var page = parseInt($(this).data("curpage") - 1);

        $.ajax({
            url: '@Url.Action("TourAndTravelListPaging")',
            data: {
                "page": page,
                "PageSize": @Model.PageSize,
                "id": "@Model.DataSourceID"
            },
            success: function (data) {
                $("#news-pages-@idDiv").html(data);
                setTimeout(function () {
                    if ($('.card.js-demo-skeleton-content').hasClass('hide')) {
                        $('.card.js-demo-skeleton-content').removeClass('hide')
                        $('.skeleton.js-demo-skeleton').addClass('hide')
                    }
                }, 5000)
            }
        });
    });

    $('body').on('click', '.next.enabled a', function () {
        var page = parseInt($(this).data("curpage") ) + 1;

        $.ajax({
            url: '@Url.Action("TourAndTravelListPaging")',
            data: {
                "page": page,
                "PageSize": @Model.PageSize,
                "id": "@Model.DataSourceID"
            },
            success: function (data) {
                $("#news-pages-@idDiv").html(data);
                setTimeout(function () {
                    if ($('.card.js-demo-skeleton-content').hasClass('hide')) {
                        $('.card.js-demo-skeleton-content').removeClass('hide')
                        $('.skeleton.js-demo-skeleton').addClass('hide')
                    }
                }, 5000)
            }
        });
    });
});
</script>

@{
    
}

<div class="page-body">
    <div class="feature has-search-component">
        <div class="container">

            <div class="feature-wrapper clearfix">
                <div id="news-pages-@idDiv">
                    @Html.Partial("_Promo360ListItem")
                </div>
            </div>
        </div>
    </div>
</div>