@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library;
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Data.Items
@model Sitecore.Feature.Library.Helper.PagedData<Sitecore.Data.Items.Item>
@{

}


<div class="row">

    @if (Model.Data != null)
    {
        foreach (Item item in Model.Data)
        {

            <div class="col col-xs-12 col-lg-4 col-sm-12 col-md-4 v-m js-mobile-to-carousel-list">
                <div class="skeleton js-demo-skeleton">
                    <div class="skeleton__img"></div>
                    <div class="skeleton__body">
                        <div class="skeleton__line"></div>
                        <div class="skeleton__line half"></div>
                    </div>
                </div>
                <div class="story-card js-demo-skeleton-content hide">
                    <div class="image">
                        <a href="@item.Url()">
                            @*@Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.NewsArticle.Fields.Image, item, cssClass: "img-responsive")*@
                            @Html.Sitecore().ImageField(Sitecore.Feature.Library.Templates.BaseField.Fields.Thumbnail, item, cssClass: "img-responsive")
                        </a>
                    </div>
                    <div class="title">
                        <h4 class="yellow-text">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.ArticleItem.Fields.Category, item)</h4>
                        <h2><a href="@item.Url()">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.NewsArticle.Fields.Title, item)</a></h2>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- PAGINATION COMPONENT -->
@Html.Partial("~/Views/Pagination/_Pagination.cshtml", Model)

