@using Sitecore.Mvc
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Feature.Library;
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@using Sitecore.Foundation.Indexing.Repositories
@using Sitecore.Feature.Content.Repositories
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Library.Helper.PagedData<Sitecore.Data.Items.Item>
@{

}
<div class="row">
    @if (Model.Data != null)
    {
        foreach (Item item in Model.Data)
        {
            <div class="col-xs-6 col-md-3 v-m">
                <div class="skeleton v-m js-demo-skeleton">
                    <div class="skeleton__img"></div>
                    <div class="skeleton__body">
                        <div class="skeleton__line"></div>
                        <div class="skeleton__line half"></div>
                    </div>
                </div>
                <div class="js-demo-skeleton-content hide">
                    <div class="skeleton js-demo-skeleton">
                        <div class="skeleton__img"></div>
                        <div class="skeleton__body">
                            <div class="skeleton__line"></div>
                            <div class="skeleton__line half"></div>
                        </div>
                        <div class="skeleton__footer">
                            <div class="skeleton__line tall"></div>
                        </div>
                    </div>
                    <div class="card js-demo-skeleton-content hide">
                        <div class="card-header">
                            <div class="card-header-tag">
                            </div>
                            <a href="@item.Url()">
                                <div class="img-as-bg" style="background-image:url(@item.ImageUrl(Sitecore.Feature.Library.Templates.BaseField.Fields.Image)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="js-truncate" data-truncate="20">@Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Title, item)</h3>
                            </div>
                            <div class="card-desc">
                                <p class="js-truncate" data-truncate="70">
                                    @Html.Sitecore().Field(Sitecore.Feature.Library.Templates.BaseField.Fields.Summary, item)
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-action"><a class="btn-link btn addon" href="">@Html.Sitecore().Dictionary("/Feature/Content/See More", "edit on dictionary")<img src="../../assets/img/icons/arrow-right/arrow-right-363-yellow@2x.png" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!-- PAGINATION COMPONENT -->
@Html.Partial("~/Views/Pagination/_Pagination.cshtml", Model)